.card {
  width: 325px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;

  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
}
.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  border-radius: 4px;
  background-color: white;
  padding: 2px 12px;
  font-size: 16px;
  line-height: 20px;
}
.card__image {
  width: 100%;
  display: block;
}

.card__like-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  background: url("../../../assets/heart-empty.svg") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card__like-btn:hover {
  transform: scale(1.1);
}

.card__like-btn_liked {
  background: url("../../../assets/heart-filled.svg") no-repeat center;
  background-size: contain;
}
